@CHARSET "ISO-8859-1";

@font-face {
    font-family: "GeekPolice";
    src: url('Police/GeekPolice.ttf');
}

body {
	background-image: url("../img/fondmario.jpg");
	background-repeat: no-repeat;
}


													/* TITRE */
		
													
div.titre {
	margin-top: 25px;
	margin-left: 25%;
	width: 895px;
	height: 225px;
	background-repeat: no-repeat;
	background-color: #80ff00;
	border: black outset 1pt;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 0px 0px 40px 2px #ffffff;	
}

img.titre {	
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
	margin-right: 15px;
	height: 85%;
	width: 96%;
	border: black outset 1pt;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 0px 0px 25px 1px #000000;
}


													/* MENU */


div.menuBackLeft {
	position: absolute;
	margin-top: 50px;
	margin-left: -19px;
	width: 22%;
	height: 642px;
	background: linear-gradient(#6B73FF, #516EE6, #6B73FF);
	opacity: 0.5;
	border-right: solid black 2px;
	border-top: solid black 2px;

}


div.menu {
	position: absolute;
	margin-left: -20px;
	width: 22%;
	height: 725px;
}

h1.menu {
	font-size: 65px;
	margin-left: 140px;
	margin-top: 105px;	
	width: 185px;
	font-family: GeekPolice;
	text-shadow: -2px -2px 8px #00ff00;
}

.menuS:hover {
	position: absolute;
	transform: scale(1.25);
}

.menuS:active {
	position: absolute;
	box-shadow: 0px 0px 30px 3px #ffff00;
}

#en-cours {
	border: #4f4f4f solid 2pt;
	box-shadow: 0px 0px 75px 10px #ff8000;
}

img.boutique {
	position: absolute;
	margin-top: 160px;
	margin-left: 30px;
	border: #808080 inset 2pt;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 0px 0px 30px 3px #000000;
	transition: all 1s;
}

img.gadget {
	position: absolute;
	margin-left: 275px;
	margin-top: 145px;
	border: #808080 inset 2pt;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 0px 0px 30px 3px #000000;
	transition: all 1s;
}


img.manger {
	position: absolute;
	margin-left: 220px;
	margin-top: 325px;
	border: #808080 inset 2pt;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 0px 0px 30px 3px #000000;
	transition: all 1s;
}

img.phone {
	position: absolute;
	margin-left: 110px;
	margin-top: 55px;
	border: #808080 inset 2pt;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 0px 0px 30px 3px #000000;
	transition: all 1s;
}

img.usb {
	position: absolute;
	margin-left: 35px;
	margin-top: 345px;
	border: #808080 inset 2pt;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 0px 0px 30px 3px #000000;
	transition: all 1s;
}


img.accueil {
	position: absolute;
	margin-left: 170px;
	margin-top: 190px;
	border: #808080 inset 2pt;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 0px 0px 30px 3px #000000;
	transition: all 1s;
}


													/* PIED PAGE */


div.pied {
	border-top: solid black 3px;
	width: 100%px;
	height: 100px;
	margin-right: -8px;
	margin-left: -8px;
	margin-top: 770px;
	background-color: #ce6c00;
}

p.pied {
	font-family: Arial;
	font-size: 22px;	
	margin-top: 25px;
	margin-left: 45%;
}


													/* BLOC PHOTO */


div.titrePhoto {
	position: absolute;
	font-size: 50px;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: -25px;
	font-family: geekPolice;
}

span.espace {
	margin-left: 20px;
}

div.photoOpacity {
	position: absolute;
	margin-top: 50px;
	margin-left: 22%;
	background: linear-gradient(#6B73FF, #516EE6, #6B73FF);
	opacity: 0.5;
	width: 77.395%;
	height: 642px;	
	border-top: solid black 2px;
	border-left: solid black 2px;
	border-right: solid black 2px;
	
	
}

div.photoCadre {
	position: absolute;
	margin-top: 75px;
	margin-left: 23%;	
	width: 74.2%;
	height: 595px;
}










/* bloc qui place les photos */
#container {
	display: flex;
	margin-top: -1px;
	margin-left: -1px;
	width: 97.9%;
	height: 595px;
	justify-content: space-between;
	padding-left: 15px;
	padding-right: 15px;
	perspective: 1500px;
}

/* bloc "parent" qui est au milieu */
#container :nth-child(4) {
	z-index: 1;
	transform: rotateY(0deg);
	margin-top: 6.75%;
}

/* transforme les blocs apres le bloc "parent" de -45deg */
#container :nth-child(4) ~ div {
    transform: rotateY(-45deg);
}

/* transforme les blocs de 45deg */
#container div {
	transform: rotateY(45deg);
	transition: all 0.75s;
}

/* transforme les blocs apres le bloc "selectionné" de -45deg */
#container div:hover ~ div {
    transform: rotateY(-45deg);
}

#container :nth-child(4) ~ div:hover {
    transform: rotateY(45deg);
}

/* transforme le bloc "selectionné" */
#container div.albertville:hover {
	z-index: 2;
	transform: rotateY(0deg) scale(1.8);
	margin-top: 6%;
	transition: all 0.75s;
}

#container div.annecy:hover {
	z-index: 2;
	transform: rotateY(0deg) scale(1.8);
	margin-top: 6%;
	transition: all 0.75s;
}

#container div.chambery:hover {
	z-index: 2;
	transform: rotateY(0deg) scale(1.8);
	margin-top: 6%;
	transition: all 0.75s;
}

#container div.clermont:hover {
	z-index: 2;
	transform: rotateY(0deg) scale(1.8);
	margin-top: 6%;
	transition: all 0.75s;
}

#container div.grenoble:hover {
	z-index: 2;
	transform: rotateY(0deg) scale(1.8);
	margin-top: 6%;
	transition: all 0.75s;
}

#container div.lyon:hover {
	z-index: 2;
	transform: rotateY(0deg) scale(1.8);
	margin-top: 6%;
	transition: all 0.75s;
}

#container div.valence:hover {
	z-index: 2;
	transform: rotateY(0deg) scale(1.8);
	margin-top: 6%;
	transition: all 0.75s;
}











div.albertville {
	border: black 1px inset;
	margin-top: 4%;
	width: 260px;
	height: 144px;
	background-image: url("../img/boutique_albertville.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	box-shadow: 0px 0px 10px 1px #000000;
}

div.annecy {
	border: black 1px inset;
	margin-top: 5%;
	width: 260px;
	height: 144px;	
	background-image: url("../img/boutique_annecy.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	box-shadow: 0px 0px 10px 1px #000000;
}

div.chambery {
	border: black 1px inset;
	margin-top: 6%;	
	width: 260px;
	height: 144px;	
	background-image: url("../img/boutique_chambery.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;	
	box-shadow: 0px 0px 10px 1px #000000;
}

div.clermont {
	border: black 1px inset;
	width: 260px;
	height: 144px;
	background-image: url("../img/boutique_clermont.jpeg");
	background-size: 100% 100%;
	background-repeat: no-repeat;	
	box-shadow: 0px 0px 10px 1px #000000;
}

div.grenoble {
	border: black 1px inset;
	margin-top: 6%;
	width: 260px;
	height: 144px;
	background-image: url("../img/boutique_grenoble.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	box-shadow: 0px 0px 10px 1px #000000;
}

div.lyon {
	border: black 1px inset;
	margin-top: 5%;
	width: 260px;
	height: 144px;
	background-image: url("../img/boutique_lyon.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	box-shadow: 0px 0px 10px 1px #000000;
}

div.valence {
	border: black 1px inset;
	margin-top: 4%;
	margin-right: 1.5%;
	width: 260px;
	height: 144px;	
	background-image: url("../img/boutique_valence.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	box-shadow: 0px 0px 10px 1px #000000;
}

div.infoAlbertvilleFleche  {
	position: absolute;
	background-image: url("../img/fleche.jpg");
	background-repeat: no-repeat;	
	background-size: 100% 25px;
	margin-top: 145px;
	margin-left: -30%;
	width: 160%;
	height: 25px;
	border-radius: 0px 0px 10px 10px;
}

div.infoAlbertvilleFleche:hover {
	background-image: none;
	transform: rotateY(0deg) scale(1);
	height: 175px;
}

span.infoPhoto{
	font-family: GeekPolice;
	font-size: 20px;
	display: block;
	text-align: center;	
}

p.descPhoto {
	font-family: GeekPolice;
	font-size: 10pt;
	display: block;
	text-align: center;
}

span.info {
	margin-top: 145px;
	display: none;
	margin-left: 10%;
	width: 81%;
	border-radius: 0px 0px 7px 7px;
	height: 175px;
	box-shadow: 0px 2px 5px 1px #000000;
}

div.display:hover + span.info {
 	display: block;
 	background: rgba(255,255,255,0.933);
}
 
 hr.info {
 	width: 100px;
 	margin-left: 21%;
 	height: 1px;
 	background: #000000;
}


























































