@CHARSET "ISO-8859-1";
div.page {
	background : white;
	height: 900px;
	width : 700px;
	border : solid black 1px;
	margin-left : 25%;
}

.articleS:hover {
	position: absolute;
	transform: scale(1.25);
}
.articleS:active {
	position: absolute;
	box-shadow: 0px 0px 30px 3px #ffff00;
}

div.USB1 {
	height: 200px;
	width : 200px;
	margin-left : 25%;
	margin-top : 5%;
	position : absolute;
}

img.imgUSB1 {
	width : 100%;
	position: absolute;
	border: #808080 inset 2pt;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 0px 0px 30px 3px #000000;
	transition: all 1s;
}

div.USB2 {
	height: 200px;
	width : 200px;
	margin-left : 65%;
	margin-top : 5%;
	position : absolute;
}

img.imgUSB2 {
	width : 100%;
	position: absolute;
	border: #808080 inset 2pt;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 0px 0px 30px 3px #000000;
	transition: all 1s;
}

div.USB3 {
	height: 200px;
	width : 200px;
	margin-left : 25%;
	margin-top : 25%;
	position : absolute;
}

img.imgUSB3 {
	width : 100%;
	position: absolute;
	border: #808080 inset 2pt;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 0px 0px 30px 3px #000000;
	transition: all 1s;
}

div.USB4 {
	height: 200px;
	width : 200px;
	margin-left : 65%;
	margin-top : 25%;
	position : absolute;
}

img.imgUSB4 {
	width : 100%;
	position: absolute;
	border: #808080 inset 2pt;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 0px 0px 30px 3px #000000;
	transition: all 1s;
}